* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background: $background-color;
}

body {
	color: $text-color;
	font-family: $font-family;
	font-size: $font-size;
	word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.3;
	font-weight: 500;
	margin: 0.67em 0;
	margin-bottom: 0.5em;
	a {
		color: $text-color;
	}
}

h1 {
	@extend %font-size-xxl;
}

h2 {
	@extend %font-size-xl;
}

h3 {
	@extend %font-size-lg;
}

h4, h5 {
	font-size: $font-size-md;
}

a {
	color: $link-color;
	text-decoration: none;
}

ol, ul {
	// Previously we were using list-style-position: inside to align lists
	// to the containing environment. Unfortunately, this caused the list
	// to inline the marker with the content, meaning the second line of a
	// long list item wouldn't get indented. To restore second-line
	// indentation we're placing the list item marker outside but adding
	// padding on the left to move the contents inside the box. This is a
	// bad fix: if the list marker is greater than the padding, it will
	// stick out of the left margin. However, it looks like this is also
	// what GitHub does when formatting Markdown, so good enough.
	//
	// The padding constant 2.2em was chosen as a balance between making
	// sure that small list markers don't look too indented and making sure
	// that numbered lists can go at least into the double digits without
	// extending past the left margin.
	list-style-position: outside;
	padding-left: 2.2em;
}

p, ol, ul, dl, .math-display {
	line-height: 1.4;
	margin-top: 1em;
	margin-bottom: 1em;
}

iframe, img, embed, object, video {
	max-width: 100%;
}

blockquote {
	padding: 0 1em;
	color: $blockquote-text-color;
	border-left: 4px solid $blockquote-bar-color;
}

blockquote p:last-child, footer p:last-child {
	margin-bottom: 0;
}

table {
	table-layout: fixed;
	word-wrap: break-word;
	border-spacing: 0;
	border-collapse: collapse;
	display: block;
	width: 100%;
	overflow: auto;
}

td, th {
	padding: 0.5em 1em;
	border: 1px solid $border-color-dark;
	text-align: left;
}

table, dl, blockquote, kbd, pre, samp {
	margin: 1em 0;
}

table tr:nth-child(even) {
	background-color: $code-background-color;
}

tt, pre, code {
	font-family: $monospace-font-family;
}

tt, code {
	font-size: 0.9em;
}

pre, code {
	background-color: $code-background-color;
	border-radius: $border-radius;
}

code {
	padding: 0.2em;
}

pre {
	padding: 0.5em 0.75em;
	line-height: 1.45;
	word-wrap: normal;
	overflow: auto;

	code {
		padding: 0;
		background-color: transparent;
	}
}

figure {
	margin: 0;
}

.math-display {
	display: inline-block;
	width: 100%;
}

hr {
	border: 0;
	border-top: 1px solid $border-color;
	margin: 1em 0;
}

h1 + hr, h2 + hr, h3 + hr, h4 + hr, h5 + hr, h6 + hr {
	margin-top: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 2em;
}

// Prevent the icon width from being forced smaller than the displayed icon
// itself.
i.fa {
	flex: none;
}
